html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 200vh;
  margin-bottom: -170px; /* Adjust the margin-bottom value to remove the gap */
}

footer {
  /* height: 170px;
  background-color:black; Optional: Set the background color for the footer */
}






.login-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    background-color: #fff;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
  }
  
  .login-heading {
    margin-bottom: 30px;
    text-align: center;
    font-size: 3rem;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form-label {
    font-size: 1.5rem;
  }
  
  .login-form-control {
    font-size: 2.5rem;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
  }
  
  .login-username {
    height: 120px;
  }
  
  .login-password {
    height: 120px;
  }
  
  .login-button {
    font-size: 1.5rem;
    margin-top: 30px;
    padding: 15px 30px;
  }
  /* transaction page */
  .filters{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 15px 20px;
    box-shadow: 0 0 3px black;
    
  }
